@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&family=Ubuntu&display=swap');
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --border: 0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(--black);
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
    --main-color:#fd4646;
    --text-color:#02ac70;
    --bg-color:#fff;
    --container-color:#1e1e2a;
}
*{
    font-family:'Poppins',sans-serif;
    margin:0;padding:0;
 box-sizing:border-box;
 outline:none;
 border:none;
 text-decoration: none;
 text-transform: capitalize;
 transition: all .2s linear;
 transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top:5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align:center;
    margin-bottom: 2rem;
    position:relative;
}

.heading::before{
     content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%); 
    width:100%;

    height:0.25rem;
    background: rgba(0,0,0,0.1); 
    z-index: -1;
}

.heading span{
    font-size:3rem;
    padding:0.5rem 2rem;
    color:var(--black);
    background: #fff;
    border: var(--border);
}


.btn{
    margin-top:1rem;
    display:inline-block;
    padding:0.9rem 3rem;
    border-radius: 0.5rem;
    color:#fff;
    background: var(--green);
    font-size:1.7rem;
    cursor:pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--dark-color);
}

.header ,.header-1 {
    background: #fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ,.header-1,.logo {
    font-size:2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header ,.header-1,.logo i{
    color:var(--green);
}

.search-form{
    width:50rem;
    height:5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    /* justify-content: space-between; */
   
}
.search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform:none;
    color:var(--black);
}
.search-form label{
    font-size:2.5rem;
    padding-right:1.5rem;
    color:var(--black);
    cursor:pointer;
}
.search-form label:hover{
    color:var(--green);
}

.icons div,a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor:pointer;
}
.icons div:hover,a:hover{
    color:var(--green);
}

#search-btn{
    display:none;
}

 

.navbar,.tag{
    text-align:center;
    width: 100%;
    height:50px;
    background: var(--green);
   
}

.tag a{
    color:#fff;
    display:inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
    position: relative;
}

 .navbar a:after{
    content:'';
    height: 2px;
    width:0;
   background: blue;
   position: absolute;
   left:0;
   bottom:-10px;
   transition:0.5s;
    /* background: var(--dark-color); */
}
.navbar a:hover::after{
   width:70%;
}
.header , .header-2.active{
    position:fixed;
    top:0;left:0;right:0;
    z-index:1000;
}

.bottom-navbar{
    text-align: center;
    background: var(--green);
    position:fixed;
    bottom:0;left:0;right:0;
    z-index:1000;
    display:none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
   color:#fff;
}

.bottom-navbar a:hover{
    background: var(--dark-color);
}

#cart-icon{
    position:relative;
    font-size:2.5rem;
    cursor:pointer;
}

#cart-icon[data-quantity ="0"]::after{
    contain:"";
}

#cart-icon[data-quantity ]::after{
    content: attr(data-quantity);
    position: absolute;
    top:0;
    right: -12px;
    width:15px;
    height:13px;
    background: green;
    border-radius: 100%;
    color:white;
    font-size:12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cart */
.cart{
    position: fixed;
    top:0;
    width:360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--container-color);
    box-shadow: -2px 0 4px hsl(0,4%, 15% / 10%);
   transition: 0.3s cubic-bezier(0.075,082,0.165,1);
   right:-100%;
   z-index:10000;
}

.cart.active{
    right:0;
    transition: 0.3s cubic-bezier(0.075,0.82,0.165,1);
}
.cart-title{
    color:#fff;
    text-align:center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.total{
    display:flex;
justify-content: flex-end;
margin-top: 1.5rem;
border-top: 1px solid var(--text-color);
color:#fff;
}

.total-title{
    font-size:2.2rem;
    font-weight:600;
    margin-top:1rem;
}

.total-price{
    font-size: 2.075rem;
    margin: 1rem 0 0 0.7rem;
   
}

.btn-buy{
    display:flex;
    justify-content: center;
    margin:1.5rem auto 0 auto;
    padding: 12px 20px;
    width:50%;
    border:none;
    border-radius: 2rem;
    text-align: center;
    background: var(--text-color);
    color:var(--bg-color);
    /* font-size: 1rem; */
    font-style: italic;
    font-weight: 500;
    cursor:pointer;
}

#close-cart{
    position:absolute;
    top:1rem;
    right:0.8rem;
    font-size:2rem;
    color:var(--text-color);
    cursor: pointer;
}

.cart-box{
    display:grid;
   grid-template-columns: 32% 50% 18%;
   align-items: center;
   gap:1rem;
   margin-top:1rem;
   color:#fff;
}
 .cart-img{
    width:100px;
    height:100px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}
.cart-box #trash{
    /* color:#fff;
    padding: 0 5px; */
    font-size: 24px;
    color: var(--main-color);
    cursor:pointer;
    /* margin: 1.5rem 0 0 0.7rem; */
}

.detail-box{
    display: grid;
    row-gap:0.5rem;
}

.cart-product-title{
    font-size:1.5rem;
    font-weight:500;
    text-transform: uppercase;
}

.cart-price{
    font-size:1.5rem;
    font-weight: 500;
}

.cart-quantity{
    border:2px solid var(--text-color);
    outline-color: var(--main-color);
    width:4.8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
}
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9);
    position: fixed;
    top:0;right:-105%;
    z-index:10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width:40rem;
    padding: 2rem;
    box-shadow:var(--box-shadow);
    border-radius:0.5rem;
    margin:2rem;
}

.login-form-container form h3{
  font-size:2.5rem;
  text-transform: uppercase;
  color:var(--black);
  text-align:center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.login-form-container form .box{
    width:100%;
    margin:0.7rem 0;
    font-size:1.6rem;
    border:var(--border);
    border-radius:0.5rem;
    padding:1rem 1.2rem;
    color :var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex ;
    align-items: center;
    gap: 5rem;
    /* padding: 1re/m 0; */
}

.login-form-container form .checkbox label{
    font-size:1.5rem;
    /* padding-left:-2rem; */
    color:var(--light-color);
    cursor:pointer;
}

.login-form-container form .btn{
    text-align:center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: 0.8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration:var(--green);
}

.login-form-container #close-login-btn{
  position : absolute;
  top:1.5rem; right:2.5rem;
  font-size: 5rem;
  color:car(--black);
  cursor: pointer;
}

.home{
    background-image: url("banner-bg.jpg") ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    gap:10rem;
}

.home .row .conten{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align:center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height:25rem;
}

.home .row .books-slider a:hover img{
  transform :scale(1.25);
}

/* .home .row .books-slider .stand{
    /* width:100%; */
    /* margin-top: -3rem; 
} */

.home .row .content h3{
   color:var(--black);
   font-size:4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size:1.4rem;
    line-height: 2;
    padding:1rem 0;
 }

 .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem,1fr)) ;
    gap: 1.5rem;
 }

 .icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding : 2rem 0;
    
 }

 .icons-container .icons i{
    font-size: 3.5rem;
    color: var(--green);
 }

 .icons-container .icons h3{
    font-size: 2.3rem;
    color: var(--light-color);
 }

 .icons-container .icons p{
    font-size: 1.4rem;
    color: var(--black);
    padding-bottom: 0.5rem;
 }

 .featured .featured-slider .box{
    margin:2rem 0;
    position:relative;
    overflow:hidden;
    border:var(--border);
    text-align: center;
     /* cursor:pointer; */
 }

 .featured .featured-slider .box:hover{
   
    border:var(--border-hover);
 }

 .featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%,#fff 30.1%);
 }



 .featured .featured-slider .box .image img{
    height: 25rem;
 }

 .featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position:absolute;
    top:0; left:0; right:0;
    background: #fff;
    z-index:1;
    transform: translateY(-100%);

 }

 .featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
 }

 .featured .featured-slider .box:hover .image{
    transform:translateY(6rem);
 }

 .featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
 } 
 
 .featured .featured-slider .box .content .price{
   font-size: 2rem;
   color:var(--black);
   padding-top:1rem;
   /* display: inline-block; */
 } 

 .featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
  } 
  .featured .featured-slider .box .content span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
  }

  .swiper-button-next, .swiper-button-prev{
    border:var(--border-hover);
    height:4 rem;
    width:4 rem;
    color:var(--black);
    background: #fff;
  }

  .swiper-button-next::after,
   .swiper-button-prev::after{
   font-size:2rem;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
 }


 .featured .featured-slider .box .icons a{
    color: var(--black);
    font-size:2.2rem;
 padding:1.2rem 1.5rem;
 }

 .featured .featured-slider .box .icons a:hover{
    background: var(--green);
    color: #fff;
 }
  
 .newsletter{
    background:url(letter.png) no-repeat ;
     background-size:cover;
     background-position: center;
     background-attachment:fixed;
     /* padding-left: 520px; */
     /* text-align: center; */
 }


 .newsletter form{
   max-width: 45rem;
   margin-left:auto;
   text-align: center;
   padding:5rem 0;
 }

 
 .newsletter form h3{
    font-size: 2.2rem;
    color:#005e99;
    padding-bottom: 0.5rem;
    font-weight: normal;
    
 }

 .newsletter form .box{
    width: 100%;
    margin: 0.7rem 0rem;
    padding: 1rem 1.2rem;
    font-size:1.6rem;
    color:var(--black);
    text-transform: none;
 }

 .sc-container{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
 justify-content: center;
 align-items: center;
  /* background-color: antiquewhite; */
 }

 .sc-container img{
    width:200px;
    margin:2rem 0;

 }

 .sc-container h1{
    font-size: 2.8rem;
    margin-top: 25vh;
 }

 .sc-container p{
    max-width: 600px;
    text-align:center;
    margin: 1rem 0;
    font-size: 1.97rem;
 }

 .sc-btn{
    margin-top:1rem;
    display:inline-block;
    padding:0.9rem 3rem;
    border-radius: 3.5rem;
    color:#fff;
    background: greenyellow;
    font-size:1.7rem;
    cursor:pointer;
    font-weight: 500;
 }
 
/*media queries*/
@media (max-width:991px){
    html{
        font-size: 55%;
      
    }

    .header, .header-1{
        padding:2rem;
    }

    section{
        padding: 3rem 5rem;
    }
    
}

@media (max-width:768px){

    html{
        scroll-padding-top:0;
    }

    body{
        padding-bottom: 6rem;
    }
    .header, .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display:inline-block ;
    }
    .header, .header-1{
        box-shadow: var(--box-shadow);
        position:relative;
    }

    .search-form{
        position:absolute;
        top:-115%;right:2rem;
        width:90%;
        box-shadow: var(--box-shadow);
    }

    .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align:center;
    }

    .home .row .content h3{
        font-size:3.5rem;
    }

    .newsletter{
        background-position: right;
        
    }

    .newsletter form{
        /* margin-right:auto; */
        /* padding-right: 520px; */
        margin:0;
        max-width:100%;
    }
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding: 2rem 1rem;
    /* border-radius: 50%; */

    border: var(--border);
    box-shadow: var(--black);
    margin:1rem 0;
}

 .arrival .arrival-slider .box{
    display: flex;
    align-items: center;
    /* gap:1.5rem; */
    padding: 2rem 1rem;
    /* border: var(--border); */
     box-shadow: var(--black);
    /* margin:1rem 0; */
} 


.arrivals .arrivals-slider .box:hover{
    /* border:var(--border-hover); */
    box-shadow: var(--box-shadow);
}


/* .arrival .arrival-slider .box .image img{
    border-radius: 50%;
    border:10px solid white ;
} */

.author1{
    height:200px;
    width:200px;
    background-color: aqua;
    background-image: url("author-1.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: 200px;
    cursor: auto;
}
.author2{
    height:200px;
    width:200px;
    background-color: aqua;
    background-image: url("author-2.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: 200px;
    cursor:auto;
}
.author3{
    height:200px;
    width:200px;
    background-color: aqua;
    background-image: url("author-3.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: 200px;
    cursor:auto;
}
.author4{
    height:200px;
    width:200px;
    background-color: aqua;
    background-image: url("author-4.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: 200px;
    cursor:auto;
}

.author5{
    height:200px;
    width:200px;
    background-color: aqua;
    background-image: url("author-5.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: 200px;
    cursor:auto;
}
.author6{
    height:200px;
    width:200px;
    background-color: aqua;
    background-image: url("author-6.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: 200px;
    cursor:auto;
}
.author7{
    height:200px;
    width:200px;
    background-color: aqua;
    background-image: url("author-7.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: 200px;
    cursor:auto;
}
.author8{
    height:200px;
    width:200px;
    background-color: aqua;
    background-image: url("author-8.jpg");
    border-radius: 50%;
    background-position: center;
    background-size: 250px;
    cursor:auto;
}
.arrivals .arrivals-slider .box .image img{
    height:20rem;
    /* border-radius: 50%; */
    /* border:10px l; */
   
}

.arrivals .arrivals-slider .box .image img:hover{
    transform :scale(1.1);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
    /* display: inline-block; */
} 

.arrivals .arrivals-slider .box .content .price  span{
    font-size: 1.5rem;
    color: var(--light-color);
    padding-bottom: .5rem;
    text-decoration: line-through;
} 

/* .arrivals .arrivals-slider .box .content span{
    font-size: 1.5rem;
    color: var(--light-color);
    padding-bottom: .5rem;
    text-decoration: line-through;
} */
.arrivals .arrivals-slider .box .content .stars i{
   font-size:1.5rem;
   color:var(--green);
}



@media (max-width:450px){
    html{
        font-size: 40%;
    }

    .home .row{
        text-align:center;
    }

    
}